@model IEnumerable<QHub.Models.ApplicationUser>
@using QHub.Classes
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-primary">
    <h1 class="display-4">Welcome</h1>
    <hr/>
    <p><b>QHub</b> is a website where students respond to research questions posed by their teachers.</p>
    <p class="small">Questions are posed at the beginning of the cycle and are relevant to the content you will learn during that time.
                Questions are due on the last Friday of the cycle, so you have just under two weeks to complete them.
                Once the question closes, you can log in again to review the teacher's response and check this against your own answer.
                In this way, you can gain insight into the topic and learn from your work.
    </p>
</div>
